<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuxiangyu.haha">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.wuxiangyu.MyApplication">
        <activity android:name="com.example.wuxiangyu.haha.MainActivity">
        </activity>
        <activity android:name="com.example.wuxiangyu.haha.SecondActivity"/>
        <activity android:name="com.example.wuxiangyu.haha.ThirdActivity">
        </activity>
        <activity android:name="com.example.wuxiangyu.arch.MainActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.StatusBarActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.navi.NavigationActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.navisecond.NavigationsActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.example.wuxiangyu.navisecond.NavigationsSecondActivity">
            
        </activity>
        <activity android:name="com.example.wuxiangyu.service.ServiceTestActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
<!---->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <service android:name="com.example.wuxiangyu.service.TestService">

        </service>
        <activity android:name="com.example.wuxiangyu.MyWebViewActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.media.CameraActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.media.opengl.FirstOpenGLProjectActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.media.opengl.airhockey1.AirHockeyActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.media.opengl.airHockey2.AirHockeyActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.screenon.ScreenOnSetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wuxiangyu.screenon.ScreenOnShowActivity">

        </activity>
        <activity android:name="com.example.wuxiangyu.media.opengl.airHockey3.AirHockeyActivity">

        </activity>
    </application>

</manifest>